{% extends 'index/base.html'%}
{% load crispy_forms_tags%}
{%block content%}

<div class="content-section">
    <form method="POST">     
        {%csrf_token%}
        <fieldset class="form-group">
            <legend class="border-botttom mb-4">Password Reset</legend>
            {{form | crispy}}
            {{form.errors}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Reset Password</button>
        </div>
    </form>
    {% if user.is_authenticated%}
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'forget-password'%}" class="ml-0">forget your password?</a>       
            </small>
        </div>
    {%endif %}
</div>


{%endblock%}